*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.hos{
    position: relative;
    width: 4vw;
    margin-left: 3vw;
}
.tal{
    position: relative;
    margin-left: 8vw;
    top: -3.4vw;
    color: brown;
}
.hos1{
    position: relative;
    z-index: 2;
    width: 100vw;
    height: 100vh;
}
.care{
    position:absolute;
    z-index: 3;
    margin-top: -42vw;
    margin-left: 5vw;
    font-size: 2vw;
    color: white;
}
.aa{
    position: relative;
    margin-top: 5vw;
    font-size: 2.5vw;
    color:black;
    margin-left: 10vw;
}
.abo{
    position: relative;
    width: 2.8vw;
    margin-left: 6.5vw;
    top: -3vw;
}
.co{
    position: relative;
    margin-top: 5vw;
    margin-left: 10vw;
    font-size: 2vw;
}
.coo{
     position: absolute;
    z-index: 3;
    margin-top: 5vw;
    margin-left: 10vw;
    border: 1px solid black;
    border-radius: 3vw;
    width: 20vw;
    height: 10vh;
    background-color:white;
}
.coo1{
     position: absolute;
    z-index: 4;
    margin-top: 6.4vw;
    margin-left: 15vw;
    font-size: 1.9vw;
    color: black;
}




