*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    text-decoration: none;
}
h2{
    color: black;
}
h2:hover{
    color: brown;
}

.home{
    position: relative;
    margin-left: 25vw;
    margin-top: 3vw;
    font-size: 1.2vw;
}
.about{
    position: relative;
    margin-left: 40vw;
    margin-top: -2.1vw;
    font-size: 1.2vw;
}
.contact{
    position: relative;
    margin-left: 54vw;
    margin-top: -2vw;
    font-size: 1.2vw;
}
.patient{
    position: relative;
    margin-left: 69vw;
    margin-top: -2vw;
    font-size: 1.2vw;
}
.bill{
    position: relative;
    margin-left: 82vw;
    margin-top: -2vw;
    font-size: 1.2vw;
}
.login{
    position: relative;
    margin-left: 93vw;
    margin-top: -2vw;
    font-size: 1.2vw;
}

.img{
    position: relative;
    width: 2.5vw;
    margin-left: 22vw;
    top: -2.5vw;
}
.img1{
    position: relative;
    width: 2.1vw;
    margin-left: 13vw;
    top: -2.5vw;
}
.img2{
    position: relative;
    width: 2.5vw;
    margin-left: 11vw;
    top: -2.4vw;
}
.img3{
    position: relative;
    width: 2.5vw;
    margin-left: 13vw;
    top: -2.5vw;
}
.img4{
    position: relative;
    width: 2.2vw;
    margin-left: 11vw;
    top: -2.5vw;
}
.img5{
    position: relative;
    width: 2.5vw;
    margin-left: 8vw;
    top: -2.2vw;
   
}


